#
# This is NOT the main configuration file for Rootkit Hunter.
#
# You can modify this file directly, or you can create a local configuration
# file. The local file must be named 'rkhunter.conf.local', and must reside
# in the same directory as this file. Alternatively you can create a directory,
# named 'rkhunter.d', which also must be in the same directory as this
# configuration file. Within the 'rkhunter.d' directory you can place further
# configuration files. There is no restriction on the file names used, other
# than they must end in '.conf'.
#

#
# If a configuration option is never set, then the program will assume a
# default value. The text describing the option will state the default value.
# If there is no default, then rkhunter will calculate a value or pathname
# to use.
#

# Enable rotate mirrors (aka load balancing)
ROTATE_MIRRORS={{ rkhunter_local_conf.rotate_mirrors }}

# Enable update mirrors
UPDATE_MIRRORS={{ rkhunter_local_conf.update_mirrors }}

# Manage mirrors mode
MIRRORS_MODE={{ rkhunter_local_conf.mirrors_mode }}

# Email a message on warning
MAIL-ON-WARNING={{ rkhunter_local_conf.mail_on_warning }}

# Mail command
MAIL_CMD={{ rkhunter_local_conf.mail_cmd }}

# Language to used
LANGUAGE={{ rkhunter_local_conf.language }}

# Path to rkhunter logs
LOGFILE={{ rkhunter_local_conf.log_path }}

# Enable logs on rkhunter runs
APPEND_LOG={{ rkhunter_local_conf.log_append }}

# Copy log file on error or warning
COPY_LOG_ON_ERROR={{ rkhunter_local_conf.log_copy }}

# Set of colors to use
COLOR_SET2={{ rkhunter_local_conf.colors }}

# Display whitelist result in white
WHITELISTED_IS_WHITE={{ rkhunter_local_conf.whitelist_is_white }}

# Allow SSH root user
ALLOW_SSH_ROOT_USER={{ rkhunter_local_conf.allow_ssh_root_user }}

# Allow SSH with protocol v1
ALLOW_SSH_PROT_V1={{ rkhunter_local_conf.ssh_protocol_v1 }}


# Tests and checks configuration
ENABLE_TESTS=ALL
DISABLE_TESTS={{ rkhunter_local_conf.disable_tests }}

# Allow hidden dir
ALLOWHIDDENDIR={{ rkhunter_local_conf.hidden_dir }}

# Test /etc and /usr with Phalanx2 test
PHALANX2_DIRTEST={{ rkhunter_local_conf.phalanx2_advanced_tests }}

# Allow this account to be root like account
UID0_ACCOUNTS={{ rkhunter_local_conf.root_like_account }}

# Whitelist specific ports
PORT_WHITELIST={{ rkhunter_local_conf.ports_whitelist }}

# Path to OS version file
OS_VERSION_FILE={{ rkhunter_local_conf.os_version }}

# Warn on OS change
WARN_ON_OS_CHANGE={{ rkhunter_local_conf.os_change }}

# Lock rkhunter when running
USE_LOCKING={{ rkhunter_local_conf.lock_on_run }}

# Show results of analyze
SHOW_SUMMARY_WARNINGS_NUMBER={{ rkhunter_local_conf.show_summary }}
